body {
    font-family: 'Gentium Book Basic', serif;
}
h1.result {
    font-family: 'Domine', serif;
    text-align: center;
}
p.user-info{
    text-align: center;
}
h2.user-prompt{
    text-align: center;
}
h3{
    text-align: center;
}

input.btn {
    color: #570026;
    float: right;
    margin-right: 300px;
}

div.background {
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../resources/coffeebean.png");
    background-position: center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
    text-align: center;
    display: table;
    width: 100%;
    height: 100%;
    color: white;
}

header img {
    display: block;
    margin: 0px auto;
    height: 100px;
    width: 100px;
}

#navbar-primary.navbar-default {
    background: transparent;
    border: none;

}
img.center{
    text-align:center;
    margin: 0 auto;
    padding:0px;
}

button {
    color: #570026;
}

table.product, th, td{

    table-layout: auto;
    border: 1px solid black;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}
fieldset {
    font-size:14px;
    padding:5px;
    width:500px;
    line-height:1.8;
    margin: 0 auto;
    text-align: center;
}

